*{
	margin: 0;
	padding: 0;
}

body{
	background: #cc3333;
}

.header-top{
	display: flex;
	font-size: 1.3rem;
	margin: 1rem 5rem;

	.company-logo{
		font-size: 2rem;
	}

	.header-top-right{
		margin-left: auto;
	}
}

nav{
	font-family: 'Questrial', sans-serif;
	font-size: 1.1rem;
	background: black;
	margin: 0 5rem;
	margin-top: 3rem;
	border-radius: .3rem;
	.hamburgerButton{
		display: none;
	}
	ul{
		display: flex;
		align-items: center;
	}
	li{
		list-style: none;
	}
	a{
		text-decoration: none;
		display: inline-block;
		color: white;
		padding: 1.7rem;
		&:hover{
			background: #133337;
		}
	}

	li:last-child{
		margin-left: auto;
		margin-right: 2rem;
		position: relative;
		input{
			padding: .7rem 1rem;
			border: none;
			border-radius: .3rem;
			background: #c0c5ce;
		}
		.fa-search{
			position: absolute;
			top: 30%;
			left: 85%;
		}
	}
}

.showcase{
	margin: 0 5rem;
	
	.img-container{
		overflow: hidden;
		height: 70vh;
	}

	img{
		width: 100%;
	}
	.showcase-caption{
		background: black;
		color: white;
	}
}


// Media Query Starts ========================================================================
@media(max-width: 1100px){

}

@media(max-width: 950px){
	nav{
		ul li{
			display: none;
		}
		.hamburgerButton{
			display: flex;
			align-items: center;
			button{
				display: inline-block;
				padding: .4rem .5rem;
				cursor: pointer;
				margin-left: auto;
				margin-right: 1.5rem;
			}
		}
		ul{
			display: block;
		}
	}

	.toggleNav{
		display: block;
	}

	.li-hide{
		display: none;
	}

	.last-li-positioning{
		display: inline-block;
		margin: 1rem 0;
		input{
			margin-left: 1.5rem;
		}
	}

	// Navbar Responsiveness codes end here
}

@media(max-width: 800px){

}

@media(max-width: 700px){
	.header-top{
		flex-wrap: wrap;
		div{
			flex-basis: 100%;
			margin-top: 3%;
		}
		.company-logo, .header-top-right{
			margin-left: 20%;
		}
	}
}